<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<style>
    body {
    height: 100%;
    width: 100%;
    background: #e9e9e9;
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #010b26;
    }
    * {
    -webkit-transition: 300ms;
    transition: 300ms;
    }
    .intro {
    text-align: center;
    }
    ul {
    list-style-type: none;
    }
    h1, h2, h3, h4, h5, p {
    font-weight: 400;
    }
    a {
    text-decoration: none;
    color: inherit;
    }
    a:hover {
    color: #6ABCEA;
    }
    .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    }
    .movie-card {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 315px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
    }
    .movie-header {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
    .castle_in_the_sky {
    background: url("https://fesapusewebsite.blob.core.windows.net/fathom/castleinthesky-1000x1480-r3-f6aba65dfc41c4fc47fc9289c1674057.jpg");
    background-size: cover;
    }
    .grave_of_the_fireflies {
    background: url("https://static.tvtropes.org/pmwiki/pub/images/rsz_poster_15810.jpg");
    background-size: cover;
    }
    .my_neighbor_totoro {
    background: url("https://m.media-amazon.com/images/M/MV5BYzJjMTYyMjQtZDI0My00ZjE2LTkyNGYtOTllNGQxNDMyZjE0XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg");
    background-size: cover;
    }
    .kiki_s_delivery_service {
    background: url("https://prodimage.images-bn.com/pimages/0826663181456_p0_v2_s550x406.jpg");
    background-size: cover;
    }
    .only_yesterday {
    background: url("https://i.pinimg.com/originals/dc/bd/49/dcbd49a9afbc73c91eab0ba1fcb4a952.jpg");
    background-size: cover;
    }

    .porco_rosso {
    background: url("https://images-na.ssl-images-amazon.com/images/I/9142XU5%2B9WL._SY445_.jpg");
    background-size: cover;
    }
    .pom_poko {
    background: url("https://images-na.ssl-images-amazon.com/images/I/916Jf7b9CkL._SY445_.jpg");
    background-size: cover;
    }
    .whisper_of_the_heart {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYHaufPE22zvNk5E7q-J9vVOnVl5lfuKdQFJnL7FhVyAgDIlqi");
    background-size: cover;
    }
    .princess_mononoke {
    background: url("https://images-na.ssl-images-amazon.com/images/I/91c7thBOWKL._SL1500_.jpg");
    background-size: cover;
    }
    .my_neighbors_the_yamadas {
    background: url("https://www.gstatic.com/tv/thumb/v22vodart/8385764/p8385764_v_v8_ab.jpg");
    background-size: cover;
    }
    .spirited_away {
    background: url("https://m.media-amazon.com/images/M/MV5BMjlmZmI5MDctNDE2YS00YWE0LWE5ZWItZDBhYWQ0NTcxNWRhXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY1200_CR89,0,630,1200_AL_.jpg");
    background-size: cover;
    }

    .the_cat_returns {
    background: url("https://images-na.ssl-images-amazon.com/images/I/91hjTMa5J5L._SY445_.jpg");
    background-size: cover;
    }
    .howl_s_moving_castle {
    background: url("https://m.media-amazon.com/images/M/MV5BNmM4YTFmMmItMGE3Yy00MmRkLTlmZGEtMzZlOTQzYjk3MzA2XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY1200_CR85,0,630,1200_AL_.jpg");
    background-size: cover;
    }
    .tales_from_earthsea {
    background: url("https://images-na.ssl-images-amazon.com/images/I/51TjeoJ1DjL.jpg");
    background-size: cover;
    }
    .ponyo {
    background: url("https://lumiere-a.akamaihd.net/v1/images/ae2b5ed7b1bf79d41304c52d89af370b822b85ad.jpeg?region=0,0,300,450");
    background-size: cover;
    }
    .arrietty {
    background: url("https://images-na.ssl-images-amazon.com/images/I/91okxUkLN4L._SY550_.jpg");
    background-size: cover;
    }
    .from_up_on_poppy_hill {
    background: url("https://images-na.ssl-images-amazon.com/images/I/51e83WTmTiL._SY445_.jpg");
    background-size: cover;
    }
    .the_wind_rises {
    background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQrH6xwURNOaY4WQUziER0TajYoubGkn87zct9q-tI2nb4aOR2y");
    background-size: cover;
    }
    .the_tale_of_the_princess_kaguya {
    background: url("https://m.media-amazon.com/images/M/MV5BNThmMWMyMWMtOWRiNy00MGY0LTg1OTUtNjYzODg2MjdlZGU5XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg");
    background-size: cover;
    }
    .when_marnie_was_there {
    background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSNjvkqicvyX8WpuKxlGP8hmGa8ZZs5OOYO5XSKla2hny_2gFNP");
    background-size: cover;
    }


    .header-icon-container {
    position: relative;
    }
    .header-icon {
    width: 100%;
    height: 367px;
    line-height: 367px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 54px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: .85;
    }
    .header-icon:hover {
    background: rgba(0, 0, 0, 0.15);
    font-size: 74px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
    }
    .movie-card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
    }
    .movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
    }
    .movie-content-header, .movie-info {
    display: table;
    width: 100%;
    }
    .movie-title {
    font-size: 24px;
    margin: 0;
    display: table-cell;
    }
    .imax-logo {
    width: 50px;
    height: 15px;
    background: url("https://6a25bbd04bd33b8a843e-9626a8b6c7858057941524bfdad5f5b0.ssl.cf5.rackcdn.com/media_kit/3e27ede823afbf139c57f1c78a03c870.jpg") no-repeat;
    background-size: contain;
    display: table-cell;
    float: right;
    position: relative;
    margin-top: 5px;
    }
    .movie-info {
    margin-top: 1em;
    }
    .info-section {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
    }
    .info-section:first-of-type {
    text-align: left;
    }
    .info-section:last-of-type {
    text-align: right;
    }
    .info-section label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
    font-size: 9px;
    }
    .info-section span {
    font-weight: 700;
    font-size: 11px;
    }
    @media screen and (max-width: 500px) {
    .movie-card {
    width: 95%;
    max-width: 95%;
    margin: 1em;
    display: block;
    }
    .container {
    padding: 0;
    margin: 0;
    }
    }
</style>